In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from prophet import Prophet

In [13]:
df = pd.read_csv("Time_series_analysis.csv")

In [14]:
df

                  FullDate  Tmax     SysLoad  GasPrice  ElecPrice
0      2010-09-01 00:00:00  15.8  1688.21500    3.6900     23.710
1      2010-09-01 01:00:00  15.8  1669.19500    3.6900     22.635
2      2010-09-01 02:00:00  15.8  1491.98000    3.6900     22.565
3      2010-09-01 03:00:00  15.8  1330.76000    3.6900     18.910
4      2010-09-01 04:00:00  15.8  1247.94000    3.6900     18.030
...                    ...   ...         ...       ...        ...
92011  2021-02-28 19:00:00  24.3   449.63625    5.4848    117.925
92012  2021-02-28 20:00:00  24.3   815.59975    5.4848     87.880
92013  2021-02-28 21:00:00  24.3   745.12325    5.4848     62.060
92014  2021-02-28 22:00:00  24.3   694.95150    5.4848     62.000
92015  2021-02-28 23:00:00  24.3   714.69630    5.4848     62.955

[92016 rows x 5 columns]

In [18]:
df[["SysLoad","Tmax","GasPrice","ElecPrice"]]

          SysLoad  Tmax  GasPrice  ElecPrice
0      1688.21500  15.8    3.6900     23.710
1      1669.19500  15.8    3.6900     22.635
2      1491.98000  15.8    3.6900     22.565
3      1330.76000  15.8    3.6900     18.910
4      1247.94000  15.8    3.6900     18.030
...           ...   ...       ...        ...
92011   449.63625  24.3    5.4848    117.925
92012   815.59975  24.3    5.4848     87.880
92013   745.12325  24.3    5.4848     62.060
92014   694.95150  24.3    5.4848     62.000
92015   714.69630  24.3    5.4848     62.955

[92016 rows x 4 columns]

In [19]:
model = Prophet()

In [20]:
model.fit(df)

ValueError: Dataframe must have columns "ds" and "y" with the dates and values respectively.